<section class="section container-fluid">

	<div class="row">
		<div class="col-xs-4 venta-articulo">
			<img src="img/imagen100.png" class="img-responsive center-block" />
			<table align="center">
				<tr>
					<td colspan="3">9 Onzas</td>
				</tr>
				<tr>
					<td><button class="btn btn-default" type="submit">+</button></td>
					<td></td>
					<td><button class="btn btn-default" type="submit">-</button></td>
				</tr>
				<tr>
					<td colspan="3">12 Onzas</td>
				</tr>
				<tr>
					<td><button class="btn btn-default" type="submit">+</button></td>
					<td></td>
					<td><button class="btn btn-default" type="submit">-</button></td>
				</tr>
			</table>
		</div>
	</div>

</section>
