<section class="section container-fluid">

	<div class="row">
		<div class="col-xs-4 venta-articulo">
			<img src="img/imagen100.png" class="img-responsive center-block" />
			<div style="text-align:center;" style="margin: 0 auto;">
				<table align="center">
					<tr>
						<td colspan="3" class="venta-articulo-medida">9 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button" ng-click="articulo_agregar();">+</button></td>
						<td><span class="venta-articulo-cantidad">{{ cantidad }}</span></td>
						<td><button class="btn btn-default" type="button" ng-click="articulo_remover();">-</button></td>
					</tr>
					<tr>
						<td colspan="3" class="venta-articulo-medida">12 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button">+</button></td>
						<td><span class="venta-articulo-cantidad">0</span></td>
						<td><button class="btn btn-default" type="button">-</button></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-xs-4 venta-articulo">
			<img src="img/imagen100.png" class="img-responsive center-block" />
			<div style="text-align:center;" style="margin: 0 auto;">
				<table align="center">
					<tr>
						<td colspan="3" class="venta-articulo-medida">9 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button">+</button></td>
						<td><span class="venta-articulo-cantidad">0</span></td>
						<td><button class="btn btn-default" type="button">-</button></td>
					</tr>
					<tr>
						<td colspan="3" class="venta-articulo-medida">12 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button">+</button></td>
						<td><span class="venta-articulo-cantidad">0</span></td>
						<td><button class="btn btn-default" type="button">-</button></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-xs-4 venta-articulo">
			<img src="img/imagen100.png" class="img-responsive center-block" />
			<div style="text-align:center;" style="margin: 0 auto;">
				<table align="center">
					<tr>
						<td colspan="3" class="venta-articulo-medida">9 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button">+</button></td>
						<td><span class="venta-articulo-cantidad">0</span></td>
						<td><button class="btn btn-default" type="button">-</button></td>
					</tr>
					<tr>
						<td colspan="3" class="venta-articulo-medida">12 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button">+</button></td>
						<td><span class="venta-articulo-cantidad">0</span></td>
						<td><button class="btn btn-default" type="button">-</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 venta-articulo">
			<img src="img/imagen100.png" class="img-responsive center-block" />
			<div style="text-align:center;" style="margin: 0 auto;">
				<table align="center">
					<tr>
						<td colspan="3" class="venta-articulo-medida">9 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button">+</button></td>
						<td><span class="venta-articulo-cantidad">0</span></td>
						<td><button class="btn btn-default" type="button">-</button></td>
					</tr>
					<tr>
						<td colspan="3" class="venta-articulo-medida">12 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button">+</button></td>
						<td><span class="venta-articulo-cantidad">0</span></td>
						<td><button class="btn btn-default" type="button">-</button></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-xs-4 venta-articulo">
			<img src="img/imagen100.png" class="img-responsive center-block" />
			<div style="text-align:center;" style="margin: 0 auto;">
				<table align="center">
					<tr>
						<td colspan="3" class="venta-articulo-medida">9 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button">+</button></td>
						<td><span class="venta-articulo-cantidad">0</span></td>
						<td><button class="btn btn-default" type="button">-</button></td>
					</tr>
					<tr>
						<td colspan="3" class="venta-articulo-medida">12 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button">+</button></td>
						<td><span class="venta-articulo-cantidad">0</span></td>
						<td><button class="btn btn-default" type="button">-</button></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-xs-4 venta-articulo">
			<img src="img/imagen100.png" class="img-responsive center-block" />
			<div style="text-align:center;" style="margin: 0 auto;">
				<table align="center">
					<tr>
						<td colspan="3" class="venta-articulo-medida">9 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button">+</button></td>
						<td><span class="venta-articulo-cantidad">0</span></td>
						<td><button class="btn btn-default" type="button">-</button></td>
					</tr>
					<tr>
						<td colspan="3" class="venta-articulo-medida">12 Onzas</td>
					</tr>
					<tr>
						<td><button class="btn btn-default" type="button">+</button></td>
						<td><span class="venta-articulo-cantidad">0</span></td>
						<td><button class="btn btn-default" type="button">-</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>
