<section class="section container-fluid">

    <div class="ancho-margen">
        
        <form role="form" ng-submit='TiendaAbrir()'>
            <fieldset>
                <div class="form-group">
                    <label class="text-header">Dinero incial: </label>
                    <input type="number" class="form-control input-short" style="display: inline-block" required />
                </div>
                <br>
                <div style="text-align:center;">
                    <table class="col-xs-12 table table-striped tabla-app" style="margin: 0 auto;">
                        <tr>
                            <td>
                                <img src="img/vaso.png" class="img-responsive center-block" width="70px" />
                            </td>
                            <td>250 vasos</td>
                            <td class="td-input"><input type="number" name="" id="" class="form-control input-short" required /></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="img/vaso.png" class="img-responsive center-block" width="70px" />
                            </td>
                            <td>90 Blue raspberry</td>
                            <td class="td-input"><input type="number" name="" id="" class="form-control input-short" required /></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="img/vaso.png" class="img-responsive center-block" width="70px" />
                            </td>
                            <td>80 Cherry</td>
                            <td class="td-input"><input type="number" name="" id="" class="form-control input-short" required /></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="img/vaso.png" class="img-responsive center-block" width="70px" />
                            </td>
                            <td>80 Apple</td>
                            <td class="td-input">
                                <input type="number" name="" id="" class="form-control input-short" required />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Confirmar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
</section>
