<section class="section container-fluid" ng-controller="TiendaSeleccionarController">
    <div class="ancho-margen">        
        <h1 class="page-header">Selecciona tu tienda</h1>
        <ul>
            <li class="contenedor-blanco activo" ng-repeat="tienda in tiendas" ng-click="seleccionar(tienda)"> 
                <span class="encabezado">
                        {{ tienda.nombre }} 
                </span>
                <span class="float-right">
                        <img src="img/logo.png" class="img-responsive center-block" />
                </span>
            </li>
        </ul>
    </div>
</section>
