<section class="section container-fluid">
    
    <div class="row articulo-fila" ng-repeat="sabor in vm.sabores" ng-if="$index % 3 == 0">
        <div class="col-lg-4 col-sm-4" 
            ng-repeat="i in [$index, $index + 1, $index + 2]" 
            ng-if="vm.sabores[i] != null">
            <div class="row">
                <div class="col-md-6">
                    <div class="articulo-imagen articulo-imagen-{{ vm.sabores[i].nombre }}"></div>
                </div>
                <div class="col-md-6" ng-init="tamanos=['nueve', 'doce']">
                    <div class="row seleccion-cantidad" ng-repeat="tamano in tamanos">
                        <table class="tabla-app">
                            <tr>
                                <td>
                                    <div>
                                        <input type="button" ng-click="vm.articuloAgregar(i, tamano)" class="agregar agregar-{{ tamano }} agregar-{{ tamano }}-{{ vm.sabores[i].nombre }}">
                                        <span class="tamano" ng-if="tamano == 'nueve'">9 Oz</span>
                                        <span class="tamano" ng-if="tamano == 'doce'">12 Oz</span>
                                    </div>
                                </td>
                                <td>
                                    <input class="articulo-cantidad" ng-model="vm.sabores[i].prod[tamano].cantidad" disabled>
                                </td>
                                <td>
                                    <button class="btn btn-default" type="button" ng-click="vm.articuloRemover(i, tamano);">-</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
