<section class="section container-fluid">

    
    <div class="row" ng-repeat="fila in ['1', '2']">
        <div class="col-md-4 venta-articulo" ng-repeat="articulo in articulos[fila]">
            <div class="row">
                <div class="col-md-6">
                    <div class="articulo-imagen articulo-imagen-{{ articulo }}"></div>
                </div>
                <div class="col-md-6">
                    <div class="row seleccion-cantidad">
                        <table class="tabla-app">
                            <tr>
                                <td>
                                    <input type="button" class="agregar agregar-11 agregar-11-{{ articulo }}" ng-click="articulo_agregar(articulo, '11');">
                                    <span class="tamano">11 Oz</span>
                                </td>
                                <td>
                                    <input class="articulo-cantidad" ng-model="cantidad[11][articulo]">
                                </td>
                                <td>
                                    <button class="btn btn-default" type="button" ng-click="articulo_remover(articulo, '11');">-</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row seleccion-cantidad">
                        <table class="tabla-app">
                            <tr>
                                <td>
                                    <input type="button" class="agregar agregar-16 agregar-16-{{ articulo }}" ng-click="articulo_agregar(articulo, '16');">
                                    <span class="tamano">16 Oz</span>
                                </td>
                                <td>
                                    <input class="articulo-cantidad" ng-model="cantidad[16][articulo]">
                                </td>
                                <td>
                                    <button class="btn btn-default" type="button" ng-click="articulo_remover(articulo, '16');">-</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

</section>
