<section class="section container-fluid">
    <div class="row" ng-repeat="fila in ['1', '2']">
        <div class="col-md-4 venta-articulo" ng-repeat="articulo in articulos[fila]">
            <div class="row">
                <div class="col-md-6">
                    <div class="articulo-imagen articulo-imagen-{{ articulo }}"></div>
                </div>
                <div class="col-md-6">
                    <div class="row seleccion-cantidad">
                        <table class="tabla-app" ng-if="showArticulo['9'][articulo]">
                            <tr>
                                <td>
                                    <div>
                                        <input type="button" class="agregar agregar-11 agregar-11-{{ articulo }}" ng-click="articulo_agregar(articulo, '9');">
                                        <span class="tamano">9 Oz</span>
                                    </div>
                                </td>
                                <td>
                                    <input class="articulo-cantidad js_cantidad" data-articulo="{{ articulo }}" data-onzas="9" ng-model="cantidad['9'][articulo]" disabled>
                                </td>
                                <td>
                                    <button class="btn btn-default" type="button" ng-click="articulo_remover(articulo, '9');">-</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row seleccion-cantidad">
                        <table class="tabla-app" ng-if="showArticulo['12'][articulo]">
                            <tr>
                                <td>
                                    <input type="button" class="agregar agregar-16 agregar-16-{{ articulo }}" ng-click="articulo_agregar(articulo, '12');">
                                    <span class="tamano">12 Oz</span>
                                </td>
                                <td>
                                    <input class="articulo-cantidad js_cantidad" data-articulo="{{ articulo }}" data-onzas="12" ng-model="cantidad['12'][articulo]">
                                </td>
                                <td>
                                    <button class="btn btn-default" type="button" ng-click="articulo_remover(articulo, '12');">-</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

</section>
